<div class="results-block">
  <%= render 'layouts/messages' %>
</div>


<div class="card card-header results-block">
  <% if @stock %>
    <strong>Stock:</strong> <%= @stock["ticker"] %>
    <strong>Last Price:</strong> <%= @stock["last"] %>
  <% end %>
</div>
