<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Stock:</strong>
    <%= @stock["ticker"] %>
    <strong>Last Price:</strong>
    <%= @stock["last"] %>
  </div>
<% end %>
